{% extends 'webapp/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        {% for slide in slides %}
        <li class="text-left">
            <img src="{{ slide.image.url }}" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>{{ slide.title|safe }} <br> {{ slide.subtitle|safe }}</strong></h1>
                        <p class="m-b-40">{{ slide.content|safe }}</p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="{{ slide.url|safe }}">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slides -->

<!-- Start About-us -->
<div class="about-section-box">
    <a name="reservation"></a>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center" style="border-radius: 20px; background-color: #656260; opacity: 90%; padding:15px;">
                <div class="inner-column">
                    <p></p>
                    <h1 style="color: #f1eae7;" >Welcome To <span>Live Dinner Restaurant</span></h1>
                    <h4 style="color: #f1eae7;" >Little Story</h4>
                    <p style="color: #f1eae7;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut
                        at pellentesque ante, sed convallis arcu. Nullam facilisis, eros in eleifend luctus, odio ante
                        sodales augue, eget lacinia lectus erat et sem. </p>
                    <p style="color: #f1eae7;" >Sed semper orci sit amet porta placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a
                        pellentesque tellus pretium a. Nulla placerat elit in justo vestibulum, et maximus sem
                        pulvinar.</p>
                    <a style="opacity: 1000%" class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="{% static 'webapp/images/about-img.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead" style="border-radius: 20px; background-color: #656260; opacity: 90%; padding:15px;">
                    "Ser exitoso no es una opción, es una obligación." <br>
                <span class="lead">Marcos Muñoz</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Start Gallery -->
<div>
    <a name="galery" ></a>
</div>
<div class="gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-01.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-01.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-02.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-02.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-03.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-03.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-04.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-04.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-05.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-05.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="{% static 'webapp/images/gallery-img-06.jpg' %}">
                        <img class="img-fluid" src="{% static 'webapp/images/gallery-img-06.jpg' %}" alt="Gallery Images">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}